.b2 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 140px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.50);
    border: 2px solid rgb(0, 0, 0);
  }
  
  .b2 .b2span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .b2:hover {
    animation: b2rotate 0.7s ease-in-out both;
  }
  
  .b2:hover .b2span {
    animation: b2storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes b2rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes b2storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }